.box-container {
  height: 295px;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  background-color: yellow;
}

.content-container {
  background-color: #fff;
}

.horizontal-container {
  background-color: blue;
}

.vertical-container {
  background-color: orange;
}

.swiper,
.swiper-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.swiper-slide {
  width: 100%;
  background-color: #eee;
}

.swiper-slide-active {
  /*
  color: #fff;
  background-color: #aaa;
  */
  background-color: white;
}

