<md-card class="box-container" >

  <div class="horizontal-container" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="stretch" fxFlex>

			<!-- <span style="z-index: 2; text-align: center">{{dayLabel}}</span> -->
    <!-- <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="75%" fxFlex.gt-xs="50%"> -->

      <div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex fxFlexFill>
        <swiper [runInsideAngular]="true" (indexChange)="onIndexChange($event)" overlay-controls [config]="config" >
          <div *ngFor="let datum of barChartData"  class="swiper-slide" fxLayout="column" fxLayoutAlign="center center">
            <div *ngIf='!datum.hasData' ngFlex><span>no hourly data</span></div>
            <canvas *ngIf='datum.hasData' baseChart
              [datasets]="currentBarChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
                                                                                               [colors]='chartColors'
              [legend]="barChartLegend"
              [chartType]="barChartType"
              ></canvas>
          </div>
        </swiper>
      </div>

    <!-- </div> -->
  </div>
</md-card>
