<div class='place-detail' fxLayoutAlign="space-around center" fxLayoutGap="6px" fxLayout="column" fxFlex> 
  <!-- <map></map> -->
  <!-- <swipe></swipe> -->
  <md-card class="example-card" fxFlex="62">
    <div class='chart-title'>something</div>
  </md-card>
  <place-details></place-details>
  <md-card class='title-card' fxFlex fxFill>
    <md-card-title class='title-card-title'>fart</md-card-title>
    <md-card-subtitle class='title-card-subtitle'>
      <div style="float:left">
        <md-icon>star</md-icon>
        <md-icon>star_half</md-icon>
        <md-icon>star_border</md-icon>
      </div>
      <div style="float:right">
      (704) 234-5678
      </div>
    </md-card-subtitle>
  </md-card>
  <md-card class='title-card' fxLayoutAlign="space-around center" fxFlex fxFill>
    <div class='chart-title click-a-location'>
     click a location
    </div>
  </md-card>
</div>
