<div class='place-detail' fxLayoutAlign="space-around center" fxLayoutGap="6px" fxLayout="column" fxFlex> 
  <md-card class="example-card" fxFlex="62"
    *ngFor="let avatar of barChartData; let idx=index"
    (swipeleft)="swipe(idx, $event.type)" (swiperight)="swipe(idx, $event.type)" 
    [class.visible]="avatar.visible" [class.hidden]="!avatar.visible">
    <div class='chart-title'>{{currentDay}}</div>
    <canvas *ngIf="avatar.hasData" baseChart
            [datasets]="currentBarChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
    <div *ngIf="!avatar.hasData" class='no-hourly-data' fxLayoutAlign="space-around center"><span>no data</span></div>
  </md-card>
  <md-card *ngIf="selectionMade()" class='title-card' fxFlex fxFill>
    <md-card-title class='title-card-title'>{{currentPlaceName}}</md-card-title>
    <md-card-subtitle class='title-card-subtitle'>
      <div style="float:left">
        <md-icon>star</md-icon>
        <md-icon>star_half</md-icon>
        <md-icon>star_border</md-icon>
      </div>
      <div style="float:right">
      (704) 234-5678
      </div>
    </md-card-subtitle>
  </md-card>
  <md-card *ngIf="!selectionMade()" class='title-card' fxLayoutAlign="space-around center" fxFlex fxFill>
    <div class='chart-title click-a-location'>
     click a location
    </div>
  </md-card>
</div>
